<ion-header>
    <ion-toolbar>
        <ion-title>landing</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-button routerLink="/new-aquarium" expand="full" color="primary">New Tank</ion-button>
    <ion-button routerLink="/tank-properties" expand="full" style="--background: #ffc409;">Tank Properties</ion-button>
    <ion-button routerLink="/maintenance" expand="full" color="success">Add Maintenance</ion-button>
    <ion-button routerLink="/show-all-maintenance" expand="full" color="tertiary">Show All Maintenance</ion-button>
    <ion-button routerLink="/show-water-changes" expand="full" color="secondary">Show Water Changes</ion-button>

</ion-content>