<!-- TODO: Change or delete header! -->
<ion-header>
    <ion-toolbar>
        <ion-title>landing</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-button routerLink="/new-aquarium" expand="full" color="primary">New Tank</ion-button>
    <ion-button routerLink="/maintenance" expand="full" color="secondary">Add Maintenance</ion-button>
    <ion-button routerLink="/show-all-maintenance" expand="full" color="tertiary">Show All Maintenance</ion-button>
    <ion-button expand="full" color="success">Success</ion-button>
    <ion-button expand="full" color="warning">Warning</ion-button>
    <ion-button expand="full" color="danger">Danger</ion-button>
    <ion-button expand="full" color="light">Light</ion-button>
    <ion-button expand="full" color="medium">Medium</ion-button>
    <ion-button expand="full" color="dark">Dark</ion-button>

</ion-content>