<ion-header>
    <ion-toolbar>
        <ion-title>PageNotFound</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    
    <ion-grid>
        <ion-row class="ion-align-items-center">
            <ion-col class="ion-align-self-center">
                <h2>Page Not Found</h2>
            </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center">
            <ion-col class="ion-align-self-center">
                <p>We couldn't find that page!</p>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>