<ion-header>
  <ion-toolbar>
    <ion-title>showWaterChanges</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list *ngFor="let tank of tanksList">
        <ion-list-header>
            {{tank.tankName}}
        </ion-list-header>

        <!-- show last 5 water changes for every tank -->
        <ion-item *ngFor="let entry of tank.maintenance | slice:0:5">
            <ion-avatar slot="start">
                <ion-icon name="information-circle-outline"></ion-icon>
            </ion-avatar>
            <ion-label>
                <h2>Date: {{entry.date | date: 'dd.MM.yy'}}</h2>
                <h3 *ngIf="entry.waterChange">Water Change: {{entry.waterChange}}%</h3>
            </ion-label>
        </ion-item>

    </ion-list>


</ion-content>
