<ion-header>
    <ion-toolbar>
        <ion-title>tankPropertiesModal</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid>
        <ion-row>
            <ion-item>
                <ion-label position="stacked" required>Name</ion-label>
                <ion-input [(ngModel)]="tankName" type="text" disabled="{{isDisabledTankName}}" placeholder="{{tankName ? tankName : 'Tank-Name'}}"></ion-input>
                <ion-button (click)="isDisabledTankName = false" slot="end" style="--background: transparent;">
                    <ion-icon name="pencil-outline" slot="end" color="dark"></ion-icon>
                </ion-button>
            </ion-item>
        </ion-row>
        <ion-row>
            <ion-item>
                <ion-label position="stacked">Length</ion-label>
                <ion-input [(ngModel)]="length" type="number" disabled="{{isDisabledLength}}" placeholder="{{length ? length : 'Length in cm'}}"></ion-input>
                <ion-button (click)="isDisabledLength = false" slot="end" style="--background: transparent;">
                    <ion-icon name="pencil-outline" slot="end" color="dark"></ion-icon>
                </ion-button>
            </ion-item>
        </ion-row>
        <ion-row>
            <ion-item>
                <ion-label position="stacked">Width</ion-label>
                <ion-input [(ngModel)]="width" type="number" disabled="{{isDisabledWidth}}" placeholder="{{width ? width : 'Width in cm'}}"></ion-input>
                <ion-button (click)="isDisabledWidth = false" slot="end" style="--background: transparent;">
                    <ion-icon name="pencil-outline" slot="end" color="dark"></ion-icon>
                </ion-button>
            </ion-item>
        </ion-row>
        <ion-row>
            <ion-item>
                <ion-label position="stacked">Height</ion-label>
                <ion-input [(ngModel)]="height" type="number" disabled="{{isDisabledHeight}}" placeholder="{{height ? height : 'Height in cm'}}"></ion-input>
                <ion-button (click)="isDisabledHeight = false" slot="end" style="--background: transparent;">
                    <ion-icon name="pencil-outline" slot="end" color="dark"></ion-icon>
                </ion-button>
            </ion-item>
        </ion-row>
        <ion-row>
            <ion-item>
                <ion-label position="stacked">Manufacturer</ion-label>
                <ion-input [(ngModel)]="manufacturer" type="text" placeholder="Manufacturer" disabled="{{isDisabledManufacturer}}" placeholder="{{manufacturer ? manufacturer : 'Manufacturer'}}"></ion-input>
                <ion-button (click)="isDisabledManufacturer = false" slot="end" style="--background: transparent;">
                    <ion-icon name="pencil-outline" slot="end" color="dark"></ion-icon>
                </ion-button>
            </ion-item>
        </ion-row>
        <ion-row>
            <ion-item>
                <ion-label position="stacked">Lamp</ion-label>
                <ion-input [(ngModel)]="lamp" type="text" disabled="{{isDisabledLamp}}" placeholder="{{lamp ? lamp : 'Lamp'}}"></ion-input>
                <ion-button (click)="isDisabledLamp = false" slot="end" style="--background: transparent;">
                    <ion-icon name="pencil-outline" slot="end" color="dark"></ion-icon>
                </ion-button>
            </ion-item>
        </ion-row>
        <ion-row>
            <ion-item>
                <ion-label position="stacked">Lighting Duration</ion-label>
                <ion-input [(ngModel)]="lightingDuration" type="time" disabled="{{isDisabledLightingDuration}}" placeholder="{{lightingDuration ? lightingDuration : 'Lighting Duration in hh:mm'}}"></ion-input>
                <ion-button (click)="isDisabledLightingDuration = false" slot="end" style="--background: transparent;">
                    <ion-icon name="pencil-outline" slot="end" color="dark"></ion-icon>
                </ion-button>
            </ion-item>
        </ion-row>
        <ion-row>
            <ion-item>
                <ion-label position="stacked">CO2-Injection</ion-label>
                <ion-toggle [(ngModel)]="co2Injection" disabled="{{isDisabledCo2Injection}}" checked="{{co2Injection}}"></ion-toggle>
                <ion-button (click)="isDisabledCo2Injection = false" slot="end" style="--background: transparent;">
                    <ion-icon name="pencil-outline" slot="end" color="dark"></ion-icon>
                </ion-button>
            </ion-item>
        </ion-row>
        <ion-row>
            <ion-item>
                <ion-label position="stacked">Air Stone</ion-label>
                <ion-toggle [(ngModel)]="airStone" disabled="{{isDisabledAirStone}}" checked="{{airStone}}"></ion-toggle>
                <ion-button (click)="isDisabledAirStone = false" slot="end" style="--background: transparent;">
                    <ion-icon name="pencil-outline" slot="end" color="dark"></ion-icon>
                </ion-button>
            </ion-item>
        </ion-row>

        <ion-button (click)="onCreate()" class="ion-padding-vertical">Save Changes</ion-button>

    </ion-grid>

</ion-content>